.game-border {
    background-image: url("/images/WebsiteBacground.jpg"); 
    /* background-repeat: no-
    repeat; */
    background-size: cover;
    align-items: center;
    height: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.titleBox{
    text-align: center;
    width: 500px;
    align-self: center;
    justify-content: center;
    margin-left: 28%;
    padding-top: 15%;
  /*  margin-left: 400px;
   padding-top: 250px; */

}

.credits{
    text-align: center;
    width: 500px;
    align-self: center;
    justify-content: center;
    margin-left: 32%;
 /*    margin-left: 450px;
    margin-bottom: 15px;
    font-size: 10px; */
}

.tittleButton{
    margin-left: 43%;
    justify-content: center;
  /*   margin-left: 610px; */
}
.playButton{
    justify-content: center;
  /*   margin-left: 630px; */

}

/* .gameInterface {
    
} */
.gameName {
    padding-top: 1%;
    align-self: center;
    justify-content: center;
    margin-left: 28%;
    /* margin-left:400px; */
}
.titleBox1 {
    justify-content: center;
    align-self: center;
    margin-left: 28%;
    padding-top: 1%;
   /*  margin-left: 400px; */
}
.row{

    justify-content: center;
    align-self: center;
    margin-bottom:100px;
}

.gameOver {
    background-color: rgba(95, 20, 95, 0.596);
    position: absolute;
    height: 250px;
    width: 500px;
    opacity: 90%;
    margin-top: 100px;
    text-align: center;
}

#myCanvas {
    margin-top: 1.5%;
    opacity: 100%;
    background-image: url("/images/theatreCanvas.png");
    align-self: center;
}

.row1{
    background-color: rgba(218, 255, 154, 0.404);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 14%;
}

#gameCredits{
    font-size: 10px;
}
/* 
.column {
    display: table-cell;
} */

/* #sideBar {
    height: 503px;
    width: 200px;
    opacity: 70%;
}
 */