.game-border {
    background-image: url("/images/testbackground.png"); 
    background-color: black;
    align-items: center;
    height: 650px;
    /* background-image: full background;
    background-repeat: ; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.titleBox{
    text-align: center;
    width: 500px;
    align-self: center;
   margin-left: 450px;
   padding-top: 250px;

}

.credits{
    text-align: center;
    width: 500px;
    align-self: center;
    margin-left: 450px;
    margin-bottom: 15px;
    font-size: 10px;
}

.tittleButton{
    margin-left: 610px;

}

.gameInterface {
    margin-left: 450px;
}
.gameName {
    padding-top: 25px;
    align-self: center;
    margin-left:600px;
}

#myCanvas {
    background-image: url("/images/Sidewalk.png");
    align-self: center;
}

