.game-border {
    background-image: url("/images/WebsiteBacground.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    height: 650px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.titleBox{
    text-align: center;
    width: 500px;
    align-self: center;
   margin-left: 400px;
   padding-top: 250px;

}

.credits{
    text-align: center;
    width: 500px;
    align-self: center;
    margin-left: 450px;
    margin-bottom: 15px;
    font-size: 10px;
}

.tittleButton{
    margin-left: 610px;
}
.playButton{
    margin-left: 630px;

}

.gameInterface {
    margin-left: 450px;
}
.gameName {
    padding-top: 25px;
    align-self: center;
    margin-left:400px;
}
.titleBox1 {
    align-self: center;
    padding-top: 50px;
    margin-left: 400px;
}
.row{
    align-self: center;
    margin-bottom:100px;
}

.gameOver {
    background-color: rgba(95, 20, 95, 0.596);
    position: absolute;
    height: 250px;
    width: 500px;
    opacity: 90%;
    margin-top: 100px;
    text-align: center;
    margin-left: 450px;
}

#myCanvas {
    background-image: url("/images/theatreCanvas.png");
    align-self: center;
}

